doctype html
html(ng-app="threeBoar")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		//script(src="/node_modules/angular/angular.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.js")
		script(src="/javascripts/airbrake/client.min.js")
		script(src="/javascripts/app.js")